.preview-container {
    .preview-image {
        border: 1px solid red;
        height: 250px;
        margin: 20px 0px;
        background: center no-repeat;
        background-size: contain;
    }
}
